@import '../../../scss/variables.scss';

// @file
// FileUpload

.file-upload {
  display: flex;
  flex-direction: column;
}

.file-upload__inner {
  p {
    display: inline-block;
    margin-right: $spacing-1;
  }
}

.upload-icon {
  p {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    background-image: url('../../../images/file_upload-white-18dp.svg');
    background-repeat:no-repeat;
    background-position:right center;
  }
}

#file-upload__input {
  display: none;
}

.file-upload__label {
  width: rem(120px);
  border: rem(1px) solid $black;
  display: inline-block;
  padding: $spacing-1 $spacing-1;
  cursor: pointer;
  margin-right: $spacing-1;
}

