@import '../../../scss/variables.scss';

// @file
// Teaser

.teaser {
    width: 100%;
    border: solid $gray-1;
    border-width: 0 0 rem(1px) 0;
    display: inline-block;
    font-family: $header-font-family;
    line-height: $line-height-loose;
    padding: $spacing-2 $spacing-4;
    text-decoration: none;
    text-transform: capitalize;
}
.teaser__logo {
    position: absolute;
    right: 0;
    height: $spacing-5
}

.teaser__title {
    font-size: $font-size-lg;
    font-weight: 900;
    color: $black;
}
.teaser__title::before {
    content: '';
    position: absolute;
    top: $spacing-3;
    left: rem(15px);
    width: rem(1px);
    height: $spacing-6;
    border: solid $teal-dark;
    border-radius: rem(5px);
  }
.teaser__text {
    font-size: $font-size-md;
    font-weight: 500;
    color: grey;
}

.teaser--light {
    .teaser__title::before {
        border: solid $teal;
    }
}

.teaser--disabled {
    pointer-events:none;
    .teaser__logo {
        visibility: hidden;
    }
    .teaser__title {
        color: grey;
    }
    .teaser__title::before {
        border: solid $gray-3;
    }
}