@import '../../../scss/variables.scss';

// @file
// Button

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 11;
  left: 0;
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(255, 255, 255);
}

/* Modal Content/Box */
.modal__content {
  align-items: center;
  background-color: $white;
  border-top-right-radius: $spacing-2;
  border-top-left-radius: $spacing-2;
  display: flex;
  justify-content: center;
  margin-top: $spacing-5;
  padding: $spacing-8 0;
  width: 100%;
  min-height: -webkit-calc(100% - #{rem(50px)});
  min-height: -moz-calc(100% - #{rem(50px)});
  min-height: calc(100% - #{rem(50px)});
  box-shadow: 0 -5px 20px -5px lightgrey;
  transition: opacity 1s ease;
}

/* The Close Button */
.modal__content--close {
  @include button-clear();

  @include svg-background(icon-close);
  float: right;
  display: block;
  color: transparent;
  font: 0/0 a;
  height: 24px;
  right: $spacing-5;
  text-shadow: none;
  position: absolute;
  top: $spacing-9;
  width: 24px;

  &:disabled {
    cursor: not-allowed;
  }
}

/* Custom button used in ExperimentsPage */
.button--circular-small {
  @include image-replace(rem(35px), rem(35px));
  @include svg-background(icon-close);

  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  border-radius: 100%;
  min-width: rem(35px);
  padding: 0;
  transform: rotate(45deg);

  &:hover,
  &:focus {
    background-color: $teal-light;
    border-radius: 100%;
  }
}
