@import '../../../scss/variables.scss';

// @file
// Header

.header {
  background-color: $white;
  border-bottom: solid 1px $gray-1;
  padding: $spacing-2 0;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

}

.header__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header__left {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }
}

.header--no-border {
  background-color: transparent;
  border: 0;
}