@import '../../../scss/variables.scss';

// @file
// Webcam Controls

// .webcam-controls {}

.webcam-controls__instructions {
  @include list-styled-ordered-list();
}

.webcam-controls__buttons {
  margin-top: $spacing-3;
}

.webcam-controls__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $spacing-5;
  font-size: $font-size-sm;
  margin: $spacing-3 auto 0;
  max-width: rem(690px);
  text-align: center;
}