@import '../../../scss/variables.scss';

// @file
// Branding

.branding {
  @include fade-in;

  font-size: $font-size-xl;
  font-weight: bold;
  font-family: $header-font-family;
  align-items: center;
  display: inline-flex;
  text-decoration: none;
}

.branding__logo {
  margin-right: 5px;
}
