@import '../../../scss/variables.scss';

// @file
// Sidebar

.sidebar {
    @include bp-tablet-lg {
        display: flex;
    }
}

.left__content {
    background-color: $teal;
    padding: $spacing-2  0;
    flex: 15%;
    text-align: left;
}

.right__content {
    background-color: $teal-light;
    padding: $spacing-2  0;
    flex: 85%;
    text-align: center;

    @include bp-tablet-lg {
        margin-left: $spacing-3;
    }

    @include bp-desktop {
        margin-left: $spacing-5;
    }
}

.sidebar--right {
    .left__content {
        background-color: $teal-light;
        flex: 85%;
        text-align: center;
    }
    .right__content {
        background-color: $teal;
        flex: 15%;
        text-align: left;
    }
}
