@import '../../../scss/variables.scss';

// @file
// Scrollable

.scrollable {
    overflow-y: scroll;
    height: 100px;
    
    ::-webkit-scrollbar-thumb {
        background-color: $teal-dark;
    }
}