@import '../../../scss/variables.scss';

// @file
// Screen Takeover

.screen-takeover {
  align-items: center;
  background-color: $black;
  color: $white;
  display: flex;
  height: 100vh;
  left: fixed;
  padding: $spacing-3 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 14;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white;
  }

  @include bp-desktop {
    padding: $spacing-6 0;
  }
}
