@import '../../../scss/variables.scss';

// @file
// Account Page

.account-info__section-header {
  align-items: center;
  display: flex;
}

.account-info__header-text {
  margin: 0 $spacing-1 0 0;
  padding-left: $spacing-4;
  position: relative;

  &::before {
    background-color: $teal;
    border-radius: 5px;
    content: '';
    display: block;
    height: 5px;
    left: 0;
    position: absolute;
    top: calc((100% - 5px) / 2);
    width: $spacing-3;
  }
}

.account-info__edit {
  @include button-clear();

}

.account-page__delete {
  padding-right: $spacing-5;
}
