// @file
// Base styles

html {
  box-sizing: border-box;
  font-size: $base-font-size;
  line-height: $base-line-height;
  min-height: 100%;
  text-size-adjust: 100%;
}

body {
  color: $white;
  font-family: $base-font-family;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  transition: background-color 1s ease-in-out;
  word-wrap: break-word;
}

%hN {
  @extend %header-font-family !optional;
  color: $black;
  font-weight: 700;
  hyphens: none;
  line-height: $base-line-height;
  margin: 0 0 rem($vertical-spacing);
  text-rendering: optimizeLegibility;

  @media print {
    & {
      orphans: 3;
      page-break-after: avoid;
      widows: 3;

      &::after {
        display: inline-block;
      }
    }
  }
}

h1,
%h1 {
  @extend %hN;
  font-size: $font-size-h2;
  margin-bottom: 0.5em;

  @include bp-tablet {
    font-size: $font-size-h1;
  }

  &::before,
  &::after {
    display: none;
  }
}

h2,
%h2 {
  @extend %hN;
  font-size: $font-size-h3;

  @include bp-tablet {
    font-size: $font-size-h2;
  }
}

h3,
%h3 {
  @extend %hN;
  font-size: $font-size-lg;

  @include bp-tablet {
    font-size: $font-size-h3;
  }
}

h4,
%h4 {
  @extend %hN;
  font-size: $font-size-h5;

  @include bp-tablet {
    font-size: $font-size-h4;
  }
}

h5,
%h5 {
  @extend %hN;
  font-size: $font-size-h6;

  @include bp-tablet {
    font-size: $font-size-h5;
  }
}

h6,
%h6 {
  @extend %hN;
  font-size: $font-size-h6;
}

p {
  margin: 0 0 1rem;

  @media print {
    & {
      orphans: 3;
      widows: 3;
    }
  }
}

hr {
  border: solid 1px $white;
}

// section {}

a {
  color: $black;
  text-decoration: none;
  
  &:visited {
    color: $green;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }
  
  &:active {
    color: $black;
  }
}

img {
  max-width: 100%;
}