// @file
// Mixins

@mixin button-clear() {
  &[type='button'] {
    appearance: none;
  }
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  padding: 0;

  &:focus {
    outline: none;
  }
}