@import '../../../scss/variables.scss';

// @file
// Form Item

.form-item {
  display: flex;
  flex-direction: column;

  ::placeholder {
    color: $black;
    font-family: $base-font-family;
    font-size: $base-font-size;
    opacity: 1;
  }
}

// modifier class
.form-item--light {
  .form-item__label {
    color: $white;
  }

  .form-item__input {
    border-color: $white;
    color: $white;

    &:focus {
      border-color: $teal;
    }
  }

  ::placeholder {
    color: $white;
    opacity: 1;
  }
}

.form-item__label {
  font-weight: 700;
  margin: 0 0 $spacing-1;
  order: -1;

  &.is-hidden {
    display: none;
  }
}

%form-item-styles {
  appearance: none;
  border: solid 1px $black;
  box-shadow: 0;
  font-size: $base-font-size;
  height: rem(44px);
  padding: 0 $spacing-2;
  
  &:focus {
    border-color: $teal-dark;
    outline: none;
  }
  
  @include bp-tablet {
    height: rem(54px);
  }
}

.form-item__input {
  @extend %form-item-styles;
}

.form-item__input--text {
  &[type='text'] {
    appearance: none;
  }
}

.form-item__input--email {
  &[type='email'] {
    appearance: none;
  }
}


.form-item__input--password {
  &[type='password'] {
    appearance: none;
  }
}

.form-item__input--date {
  &[type='date'] {
    appearance: none;
  }
}

.form-item__input--textarea {
  &[type='textarea'] {
    appearance: none;
  }

  height: rem(300px);
}